{% extends "base_result.html" %}



{% block heading %}
<!-- <h1 style="font-size: 100px; color: rgb(6, 158, 51);"> <i class="fas fa-smile-beam"></i> </h1> -->
<h1>Soil Type: Black Soil</h1>
<p class="alert alert-success"> You can Plant below crops:- { Virginia, Wheat, Jowar, Millets, Linseed, Castor, Sunflower }
</p>
<p class="alert alert-success"> काली मिटटी में आप यह फसलं ले सकते है ।:- { वर्जीनिया, गेहूं, ज्वार, बाजरा, अलसी, अरंडी,
  सूरजमुखी }
</p>
<p class="alert alert-success">काळ्या माती मध्ये तुम्ही ही पिके घेऊ शकता:- { व्हर्जिनिया, गहू, ज्वारी, मिलेट्स, बिसीड,
  एरंडेल, सूर्यफूल } </p>
<p class="alert alert-success"> કાળી જમીનમાં તમે આ પાક લઈ શકો છો ।:- { વર્જિનિયા, ઘઉં, જુવાર, મિલેટ્સ, અળસી, એરંડા, સૂર્યમુખી }
</p>
<p class="alert alert-success"> கருப்பு மண்ணில் நீங்கள் இந்த பயிர்களை எடுக்கலாம் ।:- { வர்ஜீனியா, கோதுமை, ஜோவர், தினை, லின்சீட், ஆமணக்கு, சூரியகாந்தி }
</p>
<p class="alert alert-success"> ಕಪ್ಪು ಮಣ್ಣಿನಲ್ಲಿ ನೀವು ಈ ಬೆಳೆಗಳನ್ನು ತೆಗೆದುಕೊಳ್ಳಬಹುದು ।: -{ ವರ್ಜೀನಿಯಾ, ಗೋಧಿ, ಜೋವರ್, ರಾಗಿ, ಲಿನ್‌ಸೀಡ್, ಕ್ಯಾಸ್ಟರ್, ಸೂರ್ಯಕಾಂತಿ }
</p>
{% block button %}
<a href="/" class="main-btn" id="backtogreen">Back To Home</a>
{% endblock %}
{% endblock %}